<div class="row mb-3">    
    <header class="text-center text-light">
        <h1>Trabajo Practico N°6-Backend y frontend</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <div class="container-fluid">
        <a class="navbar-brand" routerLink='/puntoa'>TP6</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Libro
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink='/punto1'>Ver destacados</a></li>
                      <li><a class="dropdown-item" routerLink='/punto1-form'>Agregar libro</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Conversor de divisas
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink='/punto2'>Realizar conversion</a></li>
                      <li><a class="dropdown-item" routerLink='/punto2-b'>Ver transacciones</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Pasajes
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink='/punto3'>Ver pasajes</a></li>
                      <li><a class="dropdown-item" routerLink='/punto3-form'>Agregar pasaje</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
    </nav>
</div>  

