<section class="row">
    <div class="col-6">
        <form class="row g-3" autocomplete="off" #libroForm="ngForm">
            <legend>Dar de alta un libro</legend>
            <div class="form-floating col-md-6 text-info">
                <input type="text" class="form-control" id="titulo" placeholder="a" [(ngModel)]="libro.titulo" name="titulo" #titulo="ngModel" required>
                <label for="titulo" class="form-label">Titulo</label>
                <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="alert alert-danger p-1 m-0">
                    <div *ngIf="titulo.errors?.['required']">
                      Es necesario rellenar este campo
                    </div>
                </div>
            </div>
            <div class="form-floating col-md-6 text-info">
                <input type="text" class="form-control" id="descripcion" placeholder=" " [(ngModel)]="libro.descripcion" name="descripcion" #descripcion="ngModel" required>
                <label for="descripcion" class="form-label">Descripcion</label>
                <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-danger p-1 m-0">
                    <div *ngIf="descripcion.errors?.['required']">
                      Es necesario rellenar este campo
                    </div>
                </div>
            </div>
            <div class="form-floating col-md-12 text-info">
                <input type="number" class="form-control" id="stock" placeholder=" " [(ngModel)]="libro.stock" name="stock" #stock="ngModel" required>
                <label for="stock" class="form-label">Stock</label>
                <div *ngIf="stock.invalid && (stock.dirty || stock.touched)" class="alert alert-danger p-1 m-0">
                    <div *ngIf="stock.errors?.['required']">
                      Es necesario rellenar este campo
                    </div>
                </div>
            </div>
            <div class="col-12 text-info">
                <input id="imagen" type="file" class="imagen" name="imagen" [(ngModel)]="libro.imagen" alife-file-to-base64 accept="image/x-png,image/gif,image/jpeg" (onFileChanged)="onFileChanges($event)" #imagen="ngModel" required>
                <div *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)" class="alert alert-danger p-1 m-0">
                    <div *ngIf="imagen.errors?.['required']">
                      Es necesario rellenar este campo
                    </div>
                </div>
            </div>
            <div class="col-12 text-info">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="destacado" [(ngModel)]="libro.destacado" name="destacado">
                  <label class="form-check-label" for="destacado">
                    Destacado
                  </label>
                </div>
              </div>
            <div class="col-12">
                <div class="d-grid gap-2">
                    <button class="btn btn-info text-light" type="button" (click)="agregarLibro()">Confirmar</button>
                </div>
            </div>
        </form>    
    </div>
</section>