<div class="row">
    <h2 class="text-center">Formulario de pasajes</h2>
    <div class="row mt-5">
      <div class="col-12 col-lg-8">
        <div class="table-responsive">
             
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <table class="table table-bordered text-light caption-top text-center" id="tablePasajes">
          <caption class="text-center text-primary fs-4">Resumen de ventas</caption>
          <thead class="table-dark">
            <th scope="col" class="border border-light p-1">Categoria</th>
            <th scope="col" class="border border-light p-1">Ventas</th>
            <th scope="col" class="border border-light p-1">Total</th>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div> 
    </div>
</div>